body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Footer */
footer {
    margin-top: auto;
}
.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}


@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


.rating {
    border: none;
    margin-right: 49px
}

.rating>[id^="star"] {
    display: none
}

.rating>label:before {
    margin: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"
}

.rating>.half:before {
    content: "\f089";
    position: absolute
}

.rating>label {
    color: #ddd;
    float: right
}

.rating>[id^="star"]:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFD700
}

.rating>[id^="star"]:checked+label:hover,
.rating>[id^="star"]:checked~label:hover,
.rating>label:hover~[id^="star"]:checked~label,
.rating>[id^="star"]:checked~label:hover~label {
    color: #FFED85
}

.link-spanner{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;

    /* edit: fixes overlap error in IE7/8,
       make sure you have an empty gif
    background-image: url('empty.gif');*/
}
